<template>
  <q-page class="flex q-pa-md">
    <q-card
      class="full-width"
    >
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="login" label="Login"/>
        <q-tab name="registrar" label="Registrar"/>
      </q-tabs>

      <q-separator/>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="login">
          <login-registro :tab="tab"/>
        </q-tab-panel>

        <q-tab-panel name="registrar">
          <login-registro :tab="tab" />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script>
import {mapActions} from "vuex";

import LoginRegistro from "../components/LoginRegistro"

export default {
  name: 'Auth',
  components: {
    'login-registro':LoginRegistro
  },
  data() {
    return {
      tab: 'login'
    }
  },
  mounted() {
    this.setTitulo("Login");
  },
  methods: {
    ...mapActions("generico", ["setTitulo"]),
  },
}
</script>
