<template>
  <q-page class="flex column">
    <div class="q-pa-md column col" id="bodyMessages">
      <q-chat-message
        :label="Date.now() | formataData"
      />
      <div :key="message.id"
           v-for="message in messages"
      >
        <div v-if="!message.filePath && message.content">

          <q-chat-message
            class="messageChat"
            :avatar="montaFotoPerfil(message.from === login_logado.id)"
            :name="message.from === login_logado.id ? login.name :  user.name"
            :text="[message.content]"
            :sent="message.from === login_logado.id ? true : false"
            :stamp="message.created_at | formataData"
          />

        </div>

        <div v-else>
          <q-card
            :class="message.from === login_logado.id ? 'float-right' : 'float-left'"
            class="my-card row"
          >
            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img
                    v-if="message.filePath"
                    :src="montaFotoPerfil(message.from === login_logado.id)"
                  >
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label>{{ message.from === login_logado.id ? login.name : user.name }}</q-item-label>
                <!--                <q-item-label caption> {{ message.fileOriginalName.length > 35 ? message.fileOriginalName.split(' ') : message.fileOriginalName }}</q-item-label>-->
              </q-item-section>
            </q-item>

            <img
              v-if="message.fileOriginalName !== 'blob'"
              :class="classeAudio(message.fileOriginalName)"
              :src="montaUrlArquivo(message.filePath)"
              @click="baixar(message.filePath)"
            >
            <audio v-else
                   controls
                   :src="montaUrlArquivo(message.filePath)"
            >
            </audio>
          </q-card>

        </div>

      </div>

    </div>

    <q-footer elevated>
      <div v-if="escrevendo"> {{ user.name }} digitando...</div>
      <q-toolbar>
        <q-input
          v-model="newMessage"
          label="Mensagem"
          dense
          bg-color="white"
          outlined
          rounded
          class="full-width"
          @keyup.enter="enviarMensagem"
        >

          <template v-slot:after>
            <q-btn
              round
              @click="enviarMensagem"
              v-if="newMessage || documento || fotoVideo"
              dense
              class="q-mr-xs"
              color="white"
              flat icon="send"
            />

            <q-btn
              v-if="!newMessage"
              round
              @click="gravarAudio"
              dense
              color="white"
              flat icon="mic"
            />

            <q-btn
              v-if="!newMessage || btnStop === false"
              round
              @click="exibirModal"
              dense
              color="white"
              flat icon="add"
            />

          </template>


        </q-input>


      </q-toolbar>
    </q-footer>
    <q-dialog persistent v-model="modalArquivos" position="right">
      <q-card style="width: 350px">
        <q-card-section class="flex justify-center">
          <q-file
            @input="selecionaDocumento"
            class="row items-start q-mb-xs full-width"
            label="Fotos, videos e documentos" v-model="documento"
          >
            <template v-slot:prepend>
              <q-icon name="insert_drive_file"/>
            </template>
          </q-file>

        </q-card-section>

        <q-card-section class="row items-center ">
          <q-btn icon="close" class="full-width" @click="fecharModal"/>
        </q-card-section>
        <q-space/>

      </q-card>
    </q-dialog>
    <q-page-sticky
      v-if="btnStop"
      position="bottom-right"
      :offset="[15, 18]"
      style="z-index: 10000">
      <q-btn
        fab
        icon="stop"
        color="negative"
        @click="pararGravar()"/>
    </q-page-sticky>
  </q-page>
</template>

<script>
import {mapActions, mapState} from "vuex";
import {date, Loading, Notify, openURL, QSpinnerBars} from "quasar";
import mixinLoginRegistro from "src/mixins/mixinLoginRegistro";


export default {
  name: 'Chat',
  mixins: [mixinLoginRegistro],
  data() {
    return {
      newMessage: '',
      messages: [],
      user: {},
      modalArquivos: false,
      documento: null,
      fotoVideo: null,
      escrevendo: false,
      mediaRecorder: null,
      btnStop: false,
      chunks: [],
    }
  },
  filters: {
    formataData: (data) => {
      return date.formatDate(data, "DD/MM/YYYY HH:mm");
    },
  },
  watch: {
    newMessage(newValue, oldValue) {
      //console.log(newValue)

      let channel = this.$echo.private(`user.${this.user.id}`)

      setTimeout(() => {
        channel.whisper('typing', {
          user: this.user,
          typing: true,
          messageDigitando: newValue
        })
      }, 300)
    }
  },
  computed: {
    ...mapState(["login"]),
    login_logado: {
      get() {
        return this.$store.state.login
      },
      set(value) {
        this.$store.commit('UPDATE_LOGIN', value)
      }
    }
  },
  mounted() {
    this.carregarMsg();
    this.initAudio()
    this.$echo.private(`user.${this.login.id}`).listen('.SendMesssage', async (event) => {
      if (this.user && this.user.id === event.message.from) {
        await this.messages.push(event.message)
        this.scroolToBottom()
      }
      //console.log(event)
    });

    this.$echo.private(`user.${this.login.id}`).listenForWhisper('typing', async (e) => {
      //console.log(e)
      if (e.messageDigitando) {
        this.escrevendo = true
        // this.escrevendo = e.typing

      } else {
        this.escrevendo = false
      }

      // this.escrevendo = e.typing
      //
      // setTimeout(() => {
      //   this.escrevendo = false
      // }, 1000)
    })

  },
  methods: {
    ...mapActions("generico", ["setTitulo"]),
    enviarMensagem() {
      let arquivo = this.documento;

      if (!arquivo && !this.newMessage) {
        Notify.create({
          type: "warning",
          message: 'informe uma mensagem, arquivo ou audio'
        });
        return
      }

      if (arquivo != null || this.newMessage != null) {
        let formData = new FormData();
        formData.append('file', arquivo);
        formData.append('content', this.newMessage);
        formData.append('to', this.user.id);
        this.$axios.post(`${process.env.API}messages/store`, formData, {
          headers: {'content-type': 'multipart/form-data'}
        }).then(resp => {
          let body = resp.data.ok
          this.messages.push({
            from: body.from,
            to: body.to,
            content: body.content,
            created_at: body.created_at,
            filePath: body.filePath,
            fileOriginalName: body.fileOriginalName
          })
          //this.scroolToBottom()

        }).finally(() => {

          this.newMessage = "";
          this.documento = null;

        });

        this.scroolToBottom()

      }
    },
    async carregarMsg() {
      let id = this.$route.params.user_id;

      // if (LocalStorage.has('dados_login')) {
      //
      //
      //   this.$axios.defaults.headers.common["Authorization"] =
      //     "Bearer " + LocalStorage.getItem('dados_login').jwt;
      //
      // }

      this.$axios.get(`${process.env.API}users/${id}`).then(response => {
        this.user = response.data.user
        this.setTitulo(`${this.user.name}`);

      }).catch(err => {
        switch (Number(err.response?.status)) {
          case 400:
            Notify.create({
              type: "warning",
              message: err.response.data
            });
            break;

          case 401:
            Notify.create({
              type: "warning",
              message: 'Tempo expirado'
            });
            this.encerraSessao()
            break;
          case 500:
            Notify.create({
              type: "negative",
              message: "Erro no servidor"
            });
            break;
        }

      });


      this.$axios.get(`${process.env.API}messages/${id}`)
        .then(res => {
          let body = res.data.messages
          // console.log(body)
          if (typeof body !== 'object') {
            Notify.create({
              type: "warning",
              message: 'Erro interno'
            });
          } else {
            this.messages = body
            this.scroolToBottom()

          }
          this.scroolToBottom()

        }).catch(err => {
        switch (Number(err.response?.status)) {
          case 400:
            Notify.create({
              type: "warning",
              message: err.response.data
            });
            break;

          case 500:
            Notify.create({
              type: "negative",
              message: "Erro no servidor"
            });
            break;
        }

      }).finally(() => {

        this.scroolToBottom()

      })


    },
    scroolToBottom() {
      if (this.messages.length) {
        document.querySelectorAll('.messageChat:last-child')[0].scrollIntoView()
      }
    },
    exibirModal() {
      this.modalArquivos = true
    },
    fecharModal() {
      this.modalArquivos = false;
    },
    selecionaDocumento(arquivo) {
      console.log(arquivo)
      this.documento = arquivo;

      this.fecharModal()
      Notify.create({
        message: `${arquivo.name} selecionado`,
        timeout: 2000
      })
    },
    montaUrlArquivo: (arquivo) => {

      if (['png', 'jpg', 'jpeg', 'bmp', 'webp', 'gif', 'webm'].includes(arquivo.split('.').pop() || !arquivo)) { // Imagem // audio
        return `${process.env.ARQUIVOS}storage/${arquivo}`
      } else {
        return `${process.env.ARQUIVOS}imgs/file.jpg`
      }
    },
    montaFotoPerfil(usuarioLogado = false) {
      if (usuarioLogado) {
        return this.login.image ? `${process.env.ARQUIVOS}storage/${this.login.image}` : `${process.env.ARQUIVOS}imgs/user-placeholder.jpg`;
      } else {
        return this.user.image ? `${process.env.ARQUIVOS}storage/${this.user.image}` : `${process.env.ARQUIVOS}imgs/user-placeholder.jpg`;

      }
    },
    baixar(arquivo) {
      let path = `${process.env.ARQUIVOS}storage/${arquivo}`
      return openURL(path)
    },
    initAudio() {
      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({audio: true})
          .then((stream) => {
            this.mediaRecorder = new MediaRecorder(stream)
            this.mediaRecorder.ondataavailable = (e) => {
              this.chunks.push(e.data)
            }
            this.mediaRecorder.onstop = (e) => {
              const blob = new Blob(this.chunks, {type: 'audio/ogg; codecs=opus'})
              const audioURL = window.URL.createObjectURL(blob)
              this.chunks = []
              console.log(blob)
              this.documento = blob
              this.enviarMensagem()
              //this.audios.push(audioURL)
            }
          })
          .catch(function (err) {
            console.log('The following getUserMedia error occured: ' + err)
          })
      } else {
        alert('getUserMedia not supported on your browser!')
      }
    },
    gravarAudio() {
      this.mediaRecorder.start()
      Loading.show({
        spinner: QSpinnerBars,
        spinnerColor: 'white',
        backgroundColor: 'primary'
      })
      this.btnStop = true
    },
    pararGravar() {
      this.mediaRecorder.stop()
      Loading.hide()
      this.btnStop = false
    },
    classeAudio(arquivo){
      return arquivo === 'blob' ? 'max-width: 220px !important;' : ''
    }
  }

,
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 170px
  display: inline-block
  display: flex
  justify-content: space-between
  margin-bottom: 170px
</style>
