<template>
  <q-page class="flex">
<!--    <h5>Usúarios</h5>-->
  </q-page>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: 'PageIndex',
  mounted() {
    this.setTitulo("Gzap");
  },
  methods: {
    ...mapActions("generico", ["setTitulo"]),
  },
}
</script>

<style>

</style>
