<template>
  <q-page>
   <div class="q-pa-lg flex flex-center">
      <q-pagination
        v-model="current_page"
        :max="last_page"
        direction-links
        boundary-links
        icon-first="skip_previous"
        icon-last="skip_next"
        icon-prev="fast_rewind"
        icon-next="fast_forward"
      />
     <q-input
       class="full-width"
       v-model="query"
       label="Nome, Email"


     />
    </div>
    <q-list
      v-if="users.length"
      class="full-width"
      separator>
      <q-item
        v-for="user in users"
        @click="abreMsg(user.id)"
        :key="user.id"
        clickable
        v-ripple
      >
        <q-item-section avatar>
          <q-avatar :color="user.isOnline ? 'primary' : 'red'" text-color="white">
            {{ user.name.charAt(0) }}
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ user.name }}</q-item-label>
          <q-item-label caption lines="1">{{ user.email }}</q-item-label>
        </q-item-section>

        <q-item-section side v-if="user.notification">
          <q-badge color="blue">
            <q-icon name="notification_add"/>
          </q-badge>
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import {mapActions, mapState} from "vuex";
import {Loading, LocalStorage, Notify, QSpinnerGears} from "quasar";
import Vue from "vue";
import mixinLoginRegistro from "src/mixins/mixinLoginRegistro";
import {debounce} from 'lodash';


export default {
  name: 'Users',
  mixins:[mixinLoginRegistro],
  data() {
    return {
      users: [],
      query: "",
      current_page: 1,
      last_page: 1,
      total_users: 0,
      nextPage: "",
      perPage: "",
    }
  },
  computed: {
    ...mapState(["login"]),
  },
  watch: {
    current_page: function (new_page) {
      this.carregaUsers(this.query, new_page);
    },
    query: function (new_query) {
      this.carregaUsers(new_query, this.current_page);
    },
  },
  mounted() {
    this.setTitulo("Usuários");
    this.carregaUsers();
    this.$echo.connector.pusher.config.auth.headers['Authorization'] = 'Bearer ' + LocalStorage.getItem('dados_login').jwt;

    this.$echo.private(`user.${this.login.id}`).listen('.SendMesssage',  async (event) => {
      if (this.user &&  this.user.id === event.message.from){
        await this.messages.push(event.message)
        this.scroolToBottom()
      }else {
        const user = this.users.filter((user) => {
          if (user.id === event.message.from){
            return user
          }
        })
        if (user) {
          Vue.set(user[0], 'notification', true)
        }

      }
      console.log(event)
    })

    if (this.login.id) {
      this.$echo.join('online')
        .here((users) => {
          console.log('Usuários Online:')
          console.log(users)
          //this.onlineUsers = users
        })
        .joining((user) => {
          console.log('Entrou:', user)
          let userList = this.users.filter((u) => {
            if (user.id === u.id){
              return user
            }
          })
          if (userList) {
            Vue.set(userList[0], 'isOnline', true)
          }
          //console.log('on', userList)

        })
        .leaving((user) => {
          console.log('Saiu:', user)
          let userList = this.users.filter((u) => {
            if (user.id === u.id){
              return user
            }
          })
          if (userList) {
            Vue.set(userList[0], 'isOnline', false)
          }
        })
    }
  },
  methods: {
    ...mapActions("generico", ["setTitulo"]),
    carregaUsers: debounce(function (busca = "", page = 1) {
      if (!busca)
        Loading.show({
          message: "Carregando usuários",
          spinner: QSpinnerGears
        });
      if (LocalStorage.has('dados_login')) {

        this.$axios.defaults.headers.common["Authorization"] =
          "Bearer " + LocalStorage.getItem('dados_login').jwt;
      }
      this.$axios.get(`${process.env.API}users?page=${page}&query=${busca}`)
        .then(res => {
          let body = res.data.users
          if (typeof body !== 'object') {
            Notify.create({
              type: "warning",
              message: 'Erro interno'
            });
          } else {
            this.current_page = body.current_page;
            this.total_users = body.total;
            this.users = body.data
            this.last_page = body.last_page;
            this.nextPage = body.next_page_url;
            this.perPage = body.prev_page_url

            const user = this.users.filter((user) => {
              if (user.id === event.message.from){
                return user
              }
            })
            if (user){
              Vue.set(user[0], 'notification', false)
            }

          }

        }).catch(err => {
        switch (Number(err.response?.status)) {
          case 400:
            Notify.create({
              type: "warning",
              message: err.response.data
            });
            break;

          case 401:
            Notify.create({
              type: "warning",
              message: 'Tempo expirado'
            });
            this.encerraSessao()
            break;

          case 500:
            Notify.create({
              type: "negative",
              message: "Erro no servidor"
            });
            break;
        }

      }).finally(() => {
        Loading.hide();
      })
    }, 300),
    abreMsg(user_id) {
      this.$router.push(`/chat/${user_id}`, () => {
      })
    }
  },

}
</script>
