<template>
  <q-form @submit="submit(formData, tab)">
    <q-input
      v-if="tab ==='registrar'"
      outlined
      v-model="formData.name"
      class="q-mb-md"
      label="Nome"
    />
    <q-input
      outlined
      v-model="formData.email"
      class="q-mb-md"
      label="E-mail"
      type="email"
    />
    <q-input
      outlined
      v-model="formData.senha"
      class="q-mb-md"
      label="Senha"
      type="password"
    />

    <q-file v-if="tab ==='registrar'"
            filled bottom-slots
            v-model="formData.image"
            label="Imagem perfil" counter
            @input="selecionaArquivo"
    >
      <template v-slot:prepend>
        <q-icon name="cloud_upload" @click.stop/>
      </template>
      <template v-slot:append>
        <q-icon name="close" @click.stop="formData.image = null" class="cursor-pointer"/>
      </template>

    </q-file>

    <div class="row">

      <q-space/>
      <q-btn
        type="submit"
        color="primary"
        :label="tab"
      />
    </div>
  </q-form>
</template>

<script>
import mixinLoginRegistro from "src/mixins/mixinLoginRegistro";
import {mapState} from "vuex";
import {Notify} from "quasar";


export default {
  name: 'LoginRegistro',
  props: ["tab"],
  mixins:[mixinLoginRegistro],
  computed: {
    ...mapState(["login"]),
  },
  data() {
    return {
      formData: {
        name: '',
        email: '',
        senha: '',
        image: null
      }
    }
  },
  methods: {
    selecionaArquivo(arquivo) {
      if (arquivo) {
       // console.log(arquivo)
        if (['png', 'jpg', 'jpeg', 'bmp', 'webp', 'gif'].includes(arquivo.name.split('.').pop())) {
          this.formData.image = arquivo
        } else {
          Notify.create({
            message: `Somente imagens`,
            timeout: 2000
          })
        }
      }
    }
  },
}
</script>
