<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          v-if="$route.fullPath.includes('/chat')"
          v-go-back.single
          flat
          icon="arrow_back"
          label="Voltar"
        />

        <q-toolbar-title class="absolute-center">
          {{ generico.titulo }}
        </q-toolbar-title>


        <q-btn
          v-show="login.name"
          class="absolute-right q-pr-sm"
          no-caps
          icon="account_circle"
          flat
          dense
          :label="`${login.name ?  login.name.split(' ')[0] : login.name}`"
          @click="encerraSessao()"
        >
          <q-tooltip content-class="bg-red"  anchor="center left" content-style="font-size: 16px" :offset="[10, 10]">
            Deslogar
          </q-tooltip>
        </q-btn>

        <q-btn
          v-show="!login.name"
          class="absolute-right q-pr-sm"
          no-caps
          icon="account_circle"
          flat
          dense
          label="Login"
          to="/login"
        >
          <q-tooltip content-class="bg-blue"  anchor="center left" content-style="font-size: 16px" :offset="[10, 10]">
            Autenticar
          </q-tooltip>
        </q-btn>

      </q-toolbar>
    </q-header>


    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import {mapActions, mapState} from "vuex";
import mixinLoginRegistro from "src/mixins/mixinLoginRegistro";


export default {
  name: 'MainLayout',
  mixins:[mixinLoginRegistro],
  computed: {
    ...mapState(["generico", "login"])
  },
  mounted() {
    // this.setTitulo("Gzap");
  },

  data() {
    return {}
  },
  methods: {
    ...mapActions("generico", ["setTitulo"])
  },
}
</script>
